# Introduction to Pandas

Data is stored in "dataframes" in Pandas

It can be confusing. Do not confuse numpy array with pandas series.

pandas series can be used to define pandas dataframe

In [1]:
import pandas as pd


series = pd.Series(['Dave', 'Cheng', 'Udacity', 42, -3232324])
print (series)

0        Dave
1       Cheng
2     Udacity
3          42
4    -3232324
dtype: object

In [2]:
series = pd.Series(['Dave', 'Cheng-Han', 359, 9001], index=['Instructor', 'Curriculum Manager',
                              'Course Number', 'Power Level'])
print (series)

Instructor                 Dave
Curriculum Manager    Cheng-Han
Course Number               359
Power Level                9001
dtype: object

Note: the use of the keyword "index" in order to define the row names

You can also index using pd.Series

In [3]:
series = pd.Series(['Dave', 'Cheng-Han', 359, 9001], index=['Instructor', 'Curriculum Manager',
                              'Course Number', 'Power Level'])

print(series['Course Number'])
print(series['Instructor'])
print(series[['Power Level', 'Curriculum Manager']])

359
Dave
Power Level                9001
Curriculum Manager    Cheng-Han
dtype: object

Note: For the last one, we can:

In [4]:
want_list=['Power Level', 'Curriculum Manager']
print(series[want_list])

Power Level                9001
Curriculum Manager    Cheng-Han
dtype: object

Note that want_list is a list of indexs that we want

In [5]:
cuteness = pd.Series([1, 2, 3, 4, 5], index=['Cockroach', 'Fish', 'Mini Pig',
                                                 'Puppy', 'Kitten'])

print (cuteness>2)

Cockroach    False
Fish         False
Mini Pig      True
Puppy         True
Kitten        True
dtype: bool

In [6]:
print (cuteness[cuteness>3])

Puppy     4
Kitten    5
dtype: int64

Dataframes

In [7]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
football = pd.DataFrame(data)
print (football)

   losses     team  wins  year
0       5    Bears    11  2010
1       8    Bears     8  2011
2       6    Bears    10  2012
3       1  Packers    15  2011
4       5  Packers    11  2012
5      10    Lions     6  2010
6       6    Lions    10  2011
7      12    Lions     4  2012

In [8]:
print (football.dtypes) # describe data type of coloums

losses     int64
team      object
wins       int64
year       int64
dtype: object

In [9]:
print (football.describe()) # Describle some statistical facts about the coloums

          losses       wins         year
count   8.000000   8.000000     8.000000
mean    6.625000   9.375000  2011.125000
std     3.377975   3.377975     0.834523
min     1.000000   4.000000  2010.000000
25%     5.000000   7.500000  2010.750000
50%     6.000000  10.000000  2011.000000
75%     8.500000  11.000000  2012.000000
max    12.000000  15.000000  2012.000000

In [10]:
print (football.head()) #the first 5 rows of dataframe

   losses     team  wins  year
0       5    Bears    11  2010
1       8    Bears     8  2011
2       6    Bears    10  2012
3       1  Packers    15  2011
4       5  Packers    11  2012

In [11]:
print(football.tail())

   losses     team  wins  year
3       1  Packers    15  2011
4       5  Packers    11  2012
5      10    Lions     6  2010
6       6    Lions    10  2011
7      12    Lions     4  2012

In [12]:
from pandas import DataFrame, Series

people = ['Sarah', 'Mike', 'Chrisna']
ages  =  [28, 32, 25]
df = DataFrame({'name' : Series(people),'age'  : Series(ages)})

print (df)

print()
df = DataFrame({'name':people, 'ages':ages})

print(df)

   age     name
0   28    Sarah
1   32     Mike
2   25  Chrisna

   ages     name
0    28    Sarah
1    32     Mike
2    25  Chrisna

Note above that we could create a dataframe using either a pandas Series, or python list

In [13]:
countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]

data = { 'counties':Series(countries), 'gold': Series(gold), 'silver': Series(silver), 'bronze':Series(bronze)}

df = DataFrame(data)

print(df)

    bronze        counties  gold  silver
0        9    Russian Fed.    13      11
1       10          Norway    11       5
2        5          Canada    10      10
3       12   United States     9       7
4        9     Netherlands     8       7
5        5         Germany     8       6
6        2     Switzerland     6       3
7        1         Belarus     5       0
8        5         Austria     4       8
9        7          France     4       4
10       1          Poland     4       1
11       2           China     3       4
12       2           Korea     3       3
13       6          Sweden     2       7
14       2  Czech Republic     2       4
15       4        Slovenia     2       2
16       3           Japan     1       4
17       1         Finland     1       3
18       2   Great Britain     1       1
19       1         Ukraine     1       0
20       0        Slovakia     1       0
21       6           Italy     0       2
22       2          Latvia     0       2
23       1       Australia     0       2
24       0         Croatia     0       1
25       1      Kazakhstan     0       0

In [14]:
print(df.head())

   bronze       counties  gold  silver
0       9   Russian Fed.    13      11
1      10         Norway    11       5
2       5         Canada    10      10
3      12  United States     9       7
4       9    Netherlands     8       7

In [15]:
print(df.head())

   bronze       counties  gold  silver
0       9   Russian Fed.    13      11
1      10         Norway    11       5
2       5         Canada    10      10
3      12  United States     9       7
4       9    Netherlands     8       7

In [16]:
print(df.describe())

          bronze       gold     silver
count  26.000000  26.000000  26.000000
mean    3.807692   3.807692   3.730769
std     3.346870   3.826426   3.105578
min     0.000000   0.000000   0.000000
25%     1.000000   1.000000   1.250000
50%     2.000000   2.500000   3.000000
75%     5.750000   5.750000   5.750000
max    12.000000  13.000000  11.000000

In [17]:
print(df.dtypes)

bronze       int64
counties    object
gold         int64
silver       int64
dtype: object

We can talk of a single col

In [18]:
df['counties']

0       Russian Fed.
1             Norway
2             Canada
3      United States
4        Netherlands
5            Germany
6        Switzerland
7            Belarus
8            Austria
9             France
10            Poland
11             China
12             Korea
13            Sweden
14    Czech Republic
15          Slovenia
16             Japan
17           Finland
18     Great Britain
19           Ukraine
20          Slovakia
21             Italy
22            Latvia
23         Australia
24           Croatia
25        Kazakhstan
Name: counties, dtype: object

In [19]:
df['silver']

0     11
1      5
2     10
3      7
4      7
5      6
6      3
7      0
8      8
9      4
10     1
11     4
12     3
13     7
14     4
15     2
16     4
17     3
18     1
19     0
20     0
21     2
22     2
23     2
24     1
25     0
Name: silver, dtype: int64

In [20]:
df['gold']

0     13
1     11
2     10
3      9
4      8
5      8
6      6
7      5
8      4
9      4
10     4
11     3
12     3
13     2
14     2
15     2
16     1
17     1
18     1
19     1
20     1
21     0
22     0
23     0
24     0
25     0
Name: gold, dtype: int64

I can do both cols at once!

In [21]:
df[['gold', 'silver','counties']]

    gold  silver        counties
0     13      11    Russian Fed.
1     11       5          Norway
2     10      10          Canada
3      9       7   United States
4      8       7     Netherlands
5      8       6         Germany
6      6       3     Switzerland
7      5       0         Belarus
8      4       8         Austria
9      4       4          France
10     4       1          Poland
11     3       4           China
12     3       3           Korea
13     2       7          Sweden
14     2       4  Czech Republic
15     2       2        Slovenia
16     1       4           Japan
17     1       3         Finland
18     1       1   Great Britain
19     1       0         Ukraine
20     1       0        Slovakia
21     0       2           Italy
22     0       2          Latvia
23     0       2       Australia
24     0       1         Croatia
25     0       0      Kazakhstan

In [22]:
df[['gold', 'silver','counties']].head()

   gold  silver       counties
0    13      11   Russian Fed.
1    11       5         Norway
2    10      10         Canada
3     9       7  United States
4     8       7    Netherlands

In [23]:
df[['gold', 'silver','counties']].tail()

    gold  silver    counties
21     0       2       Italy
22     0       2      Latvia
23     0       2   Australia
24     0       1     Croatia
25     0       0  Kazakhstan

In [24]:
df[['gold', 'silver','counties']].describe()

            gold     silver
count  26.000000  26.000000
mean    3.807692   3.730769
std     3.826426   3.105578
min     0.000000   0.000000
25%     1.000000   1.250000
50%     2.500000   3.000000
75%     5.750000   5.750000
max    13.000000  11.000000

In [25]:
df

    bronze        counties  gold  silver
0        9    Russian Fed.    13      11
1       10          Norway    11       5
2        5          Canada    10      10
3       12   United States     9       7
4        9     Netherlands     8       7
5        5         Germany     8       6
6        2     Switzerland     6       3
7        1         Belarus     5       0
8        5         Austria     4       8
9        7          France     4       4
10       1          Poland     4       1
11       2           China     3       4
12       2           Korea     3       3
13       6          Sweden     2       7
14       2  Czech Republic     2       4
15       4        Slovenia     2       2
16       3           Japan     1       4
17       1         Finland     1       3
18       2   Great Britain     1       1
19       1         Ukraine     1       0
20       0        Slovakia     1       0
21       6           Italy     0       2
22       2          Latvia     0       2
23       1       Australia     0       2
24       0         Croatia     0       1
25       1      Kazakhstan     0       0

In [26]:
df[df['gold']>=5]

   bronze       counties  gold  silver
0       9   Russian Fed.    13      11
1      10         Norway    11       5
2       5         Canada    10      10
3      12  United States     9       7
4       9    Netherlands     8       7
5       5        Germany     8       6
6       2    Switzerland     6       3
7       1        Belarus     5       0

In [27]:
df[df['gold']>=5]

   bronze       counties  gold  silver
0       9   Russian Fed.    13      11
1      10         Norway    11       5
2       5         Canada    10      10
3      12  United States     9       7
4       9    Netherlands     8       7
5       5        Germany     8       6
6       2    Switzerland     6       3
7       1        Belarus     5       0

In [28]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}

df=DataFrame(data)

In [29]:
df

   losses     team  wins  year
0       5    Bears    11  2010
1       8    Bears     8  2011
2       6    Bears    10  2012
3       1  Packers    15  2011
4       5  Packers    11  2012
5      10    Lions     6  2010
6       6    Lions    10  2011
7      12    Lions     4  2012

In [30]:
df[['team', 'year']]

      team  year
0    Bears  2010
1    Bears  2011
2    Bears  2012
3  Packers  2011
4  Packers  2012
5    Lions  2010
6    Lions  2011
7    Lions  2012

In [31]:
 df['team']

0      Bears
1      Bears
2      Bears
3    Packers
4    Packers
5      Lions
6      Lions
7      Lions
Name: team, dtype: object

In [32]:
df[:5]

   losses     team  wins  year
0       5    Bears    11  2010
1       8    Bears     8  2011
2       6    Bears    10  2012
3       1  Packers    15  2011
4       5  Packers    11  2012

In [33]:
df[3:6]

   losses     team  wins  year
3       1  Packers    15  2011
4       5  Packers    11  2012
5      10    Lions     6  2010

In [34]:
df

   losses     team  wins  year
0       5    Bears    11  2010
1       8    Bears     8  2011
2       6    Bears    10  2012
3       1  Packers    15  2011
4       5  Packers    11  2012
5      10    Lions     6  2010
6       6    Lions    10  2011
7      12    Lions     4  2012

In [35]:
df.loc[3]

losses          1
team      Packers
wins           15
year         2011
Name: 3, dtype: object

In [36]:
 df[df.wins>=10]

   losses     team  wins  year
0       5    Bears    11  2010
2       6    Bears    10  2012
3       1  Packers    15  2011
4       5  Packers    11  2012
6       6    Lions    10  2011

In [37]:
df.describe()

          losses       wins         year
count   8.000000   8.000000     8.000000
mean    6.625000   9.375000  2011.125000
std     3.377975   3.377975     0.834523
min     1.000000   4.000000  2010.000000
25%     5.000000   7.500000  2010.750000
50%     6.000000  10.000000  2011.000000
75%     8.500000  11.000000  2012.000000
max    12.000000  15.000000  2012.000000

In [38]:
df[df.losses>=7]

   losses   team  wins  year
1       8  Bears     8  2011
5      10  Lions     6  2010
7      12  Lions     4  2012

In [39]:
df

   losses     team  wins  year
0       5    Bears    11  2010
1       8    Bears     8  2011
2       6    Bears    10  2012
3       1  Packers    15  2011
4       5  Packers    11  2012
5      10    Lions     6  2010
6       6    Lions    10  2011
7      12    Lions     4  2012

In [40]:
df[(df.wins>=7)&(df.team =="Packers")]

   losses     team  wins  year
3       1  Packers    15  2011
4       5  Packers    11  2012

In [44]:
countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]

olympic_medal_counts = {'country_name':Series(countries),
                        'gold': Series(gold),
                        'silver': Series(silver),
                        'bronze': Series(bronze)}
df = DataFrame(olympic_medal_counts)

# Compute the average number of bronze medals earned by countries who earned at least one gold medal.

In [45]:
df

    bronze    country_name  gold  silver
0        9    Russian Fed.    13      11
1       10          Norway    11       5
2        5          Canada    10      10
3       12   United States     9       7
4        9     Netherlands     8       7
5        5         Germany     8       6
6        2     Switzerland     6       3
7        1         Belarus     5       0
8        5         Austria     4       8
9        7          France     4       4
10       1          Poland     4       1
11       2           China     3       4
12       2           Korea     3       3
13       6          Sweden     2       7
14       2  Czech Republic     2       4
15       4        Slovenia     2       2
16       3           Japan     1       4
17       1         Finland     1       3
18       2   Great Britain     1       1
19       1         Ukraine     1       0
20       0        Slovakia     1       0
21       6           Italy     0       2
22       2          Latvia     0       2
23       1       Australia     0       2
24       0         Croatia     0       1
25       1      Kazakhstan     0       0

In [47]:
df[df.gold>=1]['bronze']

0      9
1     10
2      5
3     12
4      9
5      5
6      2
7      1
8      5
9      7
10     1
11     2
12     2
13     6
14     2
15     4
16     3
17     1
18     2
19     1
20     0
Name: bronze, dtype: int64

In [49]:
import numpy
df[df.gold>=1]['bronze']

0      9.0
1     10.0
2      5.0
3     12.0
4      9.0
5      5.0
6      2.0
7      1.0
8      5.0
9      7.0
10     1.0
11     2.0
12     2.0
13     6.0
14     2.0
15     4.0
16     3.0
17     1.0
18     2.0
19     1.0
20     0.0
Name: bronze, dtype: float64

In [50]:
numpy.mean(df[df.gold>=1]['bronze'])

4.238095238095238

# Create a new Series called avg_medal_count that indicates the average number of gold, silver, and bronze medals earned amongst countries who earned at least one medal of any kind at the 2014 Sochi olympics.

In [51]:
df

    bronze    country_name  gold  silver
0        9    Russian Fed.    13      11
1       10          Norway    11       5
2        5          Canada    10      10
3       12   United States     9       7
4        9     Netherlands     8       7
5        5         Germany     8       6
6        2     Switzerland     6       3
7        1         Belarus     5       0
8        5         Austria     4       8
9        7          France     4       4
10       1          Poland     4       1
11       2           China     3       4
12       2           Korea     3       3
13       6          Sweden     2       7
14       2  Czech Republic     2       4
15       4        Slovenia     2       2
16       3           Japan     1       4
17       1         Finland     1       3
18       2   Great Britain     1       1
19       1         Ukraine     1       0
20       0        Slovakia     1       0
21       6           Italy     0       2
22       2          Latvia     0       2
23       1       Australia     0       2
24       0         Croatia     0       1
25       1      Kazakhstan     0       0

In [55]:
import numpy
df[['bronze', 'gold', 'silver']]

    bronze  gold  silver
0        9    13      11
1       10    11       5
2        5    10      10
3       12     9       7
4        9     8       7
5        5     8       6
6        2     6       3
7        1     5       0
8        5     4       8
9        7     4       4
10       1     4       1
11       2     3       4
12       2     3       3
13       6     2       7
14       2     2       4
15       4     2       2
16       3     1       4
17       1     1       3
18       2     1       1
19       1     1       0
20       0     1       0
21       6     0       2
22       2     0       2
23       1     0       2
24       0     0       1
25       1     0       0

In [56]:
import numpy
df[['bronze', 'gold', 'silver']].apply(numpy.mean)

bronze    3.807692
gold      3.807692
silver    3.730769
dtype: float64

# Imagine a point system in which each country is awarded 4 points for eachgold medal,  2 points for each silver medal, and one point for each  bronze medal.

In [75]:
countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
             'Netherlands', 'Germany', 'Switzerland', 'Belarus',
             'Austria', 'France', 'Poland', 'China', 'Korea', 
             'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
             'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
             'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]

medals = [gold, silver, bronze ]

scores = [4, 2, 1]

lis=numpy.dot(scores, medals)

points= list(lis)

data = { 'country_name': countries, 'points': points}
df = DataFrame(data)
df

      country_name  points
0     Russian Fed.      83
1           Norway      64
2           Canada      65
3    United States      62
4      Netherlands      55
5          Germany      49
6      Switzerland      32
7          Belarus      21
8          Austria      37
9           France      31
10          Poland      19
11           China      22
12           Korea      20
13          Sweden      28
14  Czech Republic      18
15        Slovenia      16
16           Japan      15
17         Finland      11
18   Great Britain       8
19         Ukraine       5
20        Slovakia       4
21           Italy      10
22          Latvia       6
23       Australia       5
24         Croatia       2
25      Kazakhstan       1

      country_name  points
0     Russian Fed.      83
1           Norway      64
2           Canada      65
3    United States      62
4      Netherlands      55
5          Germany      49
6      Switzerland      32
7          Belarus      21
8          Austria      37
9           France      31
10          Poland      19
11           China      22
12           Korea      20
13          Sweden      28
14  Czech Republic      18
15        Slovenia      16
16           Japan      15
17         Finland      11
18   Great Britain       8
19         Ukraine       5
20        Slovakia       4
21           Italy      10
22          Latvia       6
23       Australia       5
24         Croatia       2
25      Kazakhstan       1